**/programas&practicas/**
**/PROYECTO/**
**/recursos/**
cerradura_inteligente
#ignorar cosas del virtual env
webapp 
api
#ignorar pycache
__pycache__
#ignorar variables de entorno
.env
#ignorar cosas de DB
app.db
#ignorar version insegura
APPv2_inseguro