{% extends 'base_cliente.html' %}

{% block content %}
<!-- From Uiverse.io by alexruix --> 
<div class="form-box">
    <form class="form">
        <span class="title">Bienvenido!</span>
        <span class="subtitle">Ingrese la informacion dada.</span>
        <div class="form-container">
            <input type="email" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Id de la cerradura">
        </div>
        <button>inicio</button>
    </form>
</div>
{% endblock content %}