{% extends 'base.html' %}

{% block content %}    
    <div class="contenedor-contenido">
        <div class="opciones-logs">

            <h3>
                Historial de Acceso:
            </h3>
            <div style="padding: 20px 15px;">
                {% if context %}
                    {% for log in context %}
                        {{log.fecha}}::{{log.tiempo}}::{{log.accion}}::{{log.acceso}}<br><br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="contenedor-opciones">
        <div class="opciones">
            <ul>
                <li>
                    <a href="{{ url_for('Panel_Control') }}"><img class="icon" src="{{ url_for('static', filename='image/icons8-cloud-sharing-66.png') }}" alt="Mis Dispositivos"></a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        console.log("logs");
    </script>
{% endblock content %}