{% extends 'base.html' %}

{% block content %}
    <div class="contenedor-masdispositivo">
        <a href="{{ url_for('Nuevo_Dispositivo')}}">
           <img width="85px" height="85px" src="{{ url_for('static', filename='image/icons8-plus-128.png') }}" alt="Agregar Dispositivo">
        </a>
    </div>
    
    <div class="contenedor-contenido">
        {% if context %}
            {% for dispositivo in context %}
                <div class="dispositivos">
                    <ul>
                        <li>
                            <a href="#">
                                {{dispositivo.nombre}} <img width="20px" height="20px" src="{{ url_for('static', filename='image/icons8-edit-50.png') }}">
                            </a>
                        </li>
                        <li>
                            {% if dispositivo.estado == "Desbloqueado" %}
                                <form action="{{ url_for('Bloquear_Dispositivo', rel_id=dispositivo.id) }}" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{csrf}}">
                                    <button type="submit">
                                        <img class="icon" src="{{ url_for('static', filename='image/icons8-unlock-50.png') }}" alt="Bloquear Dispositivo">
                                    </button>
                                </form>

                            {% elif dispositivo.estado == "Bloqueado" %}
                                <form action="{{ url_for('Desbloquear_Dispositivo', rel_id=dispositivo.id) }}" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{csrf}}">
                                    <button type="submit">
                                        <img class="icon" src="{{ url_for('static', filename='image/icons8-lock-50.png') }}" alt="Desbloquear Dispositivo">
                                    </button>
                                </form>

                            {% else %}
                                <a>
                                    <img class="icon" alt="Error Fatal" src="{{ url_for('static', filename='image/icons8-error-50.png') }}">
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            {{dispositivo.carga}}
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div class="dispositivos" style="justify-content:center;">
                <h3>No tiene dispositivos en esta cuenta</h3>
            </div>
        {% endif %}
    </div>

    <div class="contenedor-opciones">
        <div class="opciones">
            <ul>
                <li>
                    <a><img class="icon" src="{{ url_for('static', filename='image/icons8-cloud-sharing-66.png') }}" alt="Mis Dispositivos"></a>
                </li>
                <li>
                    <a href="{{ url_for('Panel_Logs') }}"><img class="icon" src="{{ url_for('static', filename='image/icons8-report-50.png') }}"></a>
                </li>
                <li>
                    <a><img class="icon" src="{{ url_for('static', filename='image/icons8-setting-50.png') }}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="nuevo-dispositivo" class="modal">
        <div class="modal-contenido">
            <span class="close" onclick="closeModal()">&times;</span>
            <!--h2 id="mensaje-confirmacion"></h2-->
            ingresar la informacion de <a href="{{ url_for('Nuevo_Dispositivo') }}">forma manual</a>
        <div>
    <div> 
    <script>
        function open_NuevoDispositivo(){ document.getElementById('nuevo-dispositivo').style.display = 'block'; }
        function closeModal(){ document.getElementById('nuevo-dispositivo').style.display = 'none'; }
    </script>
{% endblock content %}